form {
  margin: 30px auto;
  max-width: $form-width;
}
.input-control {
  width: 100%;
  font-size:$text--sm;
  border: 2px solid #ddd;
  border-radius: 7px;

  outline: none;

  transition: all 0.3s ease;
  &:focus {
    border: 2px solid #1a55ca;
    transition: all 0.3s ease;
  }
}





.input-control--large {
  margin-top: $space--sm;
  margin-bottom: $space--md;
  padding: $space--md;
}

.input-control--small {
  margin-top: $space--xs;
  margin-bottom: 30px;
  padding: $space--sm;
}

.form-control.radio input {
  margin-left: 15px;
  margin-right: 0;
  cursor: pointer;
  width: 20px;
  opacity: 0;
}
.checkmark {
  position: absolute;
  top: 7px;
  left: 11px;
  height: 25px;
  width: 25px;
  z-index: -2;
  border-radius: 50%;
  border: 3px solid theme-colors('bg-color', 'primary');

  &::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: transparent;
    top: 3px;
    left: 3px;
  }
}

.form-control.radio input:checked ~ .checkmark::after {
  background: theme-colors('bg-color', 'primary');
}


.form-heading {
  max-width: $form-width;
  margin: 0 auto;

}
.inline-adj {
  display: inline;
  margin-left:20px;
}


.form-center {
  padding: 0 20px;
}
.form-control {
  position: relative;
  textarea,
  input {
    font-weight: 400;
    font-family: $font-primary;
    background-color: theme-colors('bg-color', 'inputBgColor');
  }
  textarea:focus,
  input:focus {
    background-color: white;
    border-color: var(--primary-red);
    box-shadow: 0 0 0 2px var(--primary-red-light);
  }
  textarea.is-success,
  input.is-success {
    background-color: white;
    border-color: #0a910a;
    box-shadow: 0 0 0 2px rgba(138, 208, 110, 0.58);
  }
  textarea.is-danger,
  input.is-danger {
    background-color: white;
    border-color:red;
    box-shadow: none
  }

}

label {
  font-size: $text--sm;
  font-weight: 600;
}


.form-inline {
  display: flex;

  .form-control {
    margin-right: 20px;
    width: 100%;
  }
}

.form-alert {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translate(0px, -8px);
  line-height: 0;
  width: 16px;
  height: 16px;
  &.is-success {
    background-color: green;
   // mask-image: url('./src/icons/check-circled.svg');
    mask-repeat:no-repeat;
  }
  &.is-danger {
    background-color: red;
   // mask-image: url('./src/icons/check-circled.svg');
    mask-repeat: no-repeat;
  }
}

.error-message {
  bottom: 5px;
  font-size: 14px;
  color: #fff;
  left: 15px;
  position: absolute;
  background: red;
  padding: 0 5px;
  border-radius: 3px;
}