{{ define "base"}}
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>{{ template "title" .}} - Record Collection</title>
    <link rel='stylesheet' href='/dist/main.css'>
</head>
<body>
<header class="header header-light">
    <!-- Navbar -->

        {{ template "nav" .}}


</header>

<!-- Main -->
<main class="container">
    {{ template "main" .}}
</main>




<!-- Footer -->
{{ template "footer" .}}
{{ block "js" .}}
    <script  src='/dist/main.js'></script>
    <script  src='/dist/bundle.js'></script>
{{end}}

</body>
</html>
{{end}}