{{ template "base" .}}

{{define "title"}}Create record{{end}}

{{define "main"}}

    <form enctype="multipart/form-data" action="/record/create" method="post">
        {{with .Form}}
        <div class="form-control">
            <label class="form-label" for="inputTitle">Title</label>
            {{ with .ErrorsMap.Get "inputTitle"}}
                <span class="error-message">{{.}}</span>
            {{end}}
            <span class="form-alert {{with .ErrorsMap.inputTitle}} is-danger {{end}}"></span>
            <input class="input-control input-control--small {{with .ErrorsMap.inputTitle}}
            is-danger
{{end}}"
                   type="text"
                   name="inputTitle"
                   id="inputTitle" placeholder="Title" value="{{ .Get "inputTitle"}}">
        </div>

        <div class="form-control">
            <label class="form-label"
                   for="inputLabel">Label</label>
            {{ with .ErrorsMap.Get "inputLabel"}}
                <span class="error-message">{{.}}</span>
            {{end}}
            <span class="form-alert {{with .ErrorsMap.inputLabel}} is-danger {{end}}"></span>
            <input class="input-control input-control--small  {{with .ErrorsMap.inputLabel}} is-danger {{end}}" type="text" name="inputLabel"
                   id="inputLabel" placeholder="Label" value='{{ .Get "inputLabel"}}'>
        </div>


        <div class="form-control">
            <label class="form-label"
                   for="inputYear">Year</label>
            {{ with .ErrorsMap.Get "inputYear"}}
                <span class="error-message">{{.}}</span>
            {{end}}
            <span class="form-alert {{with  .ErrorsMap.inputYear}} is-danger {{end}}"></span>
            <input class="input-control input-control--small {{with  .ErrorsMap.inputYear}} is-danger {{end}}" type="text" name="inputYear"
                   id="inputYear" placeholder="Year" value="{{.Get "inputYear"}}">
        </div>



        <div class="form-control">
            <label for="inputCover">Image</label>

        <input class="input-control input-control--small" type="file" name="inputCover" />
            {{ with .ErrorsMap.Get "inputCover"}}
                <span class="error-message">{{.}}</span>
            {{end}}
        </div>

        <input type="submit" value="Add Record" class="btn btn-small btn-primary"/>






{{/*        <div class="select">*/}}
{{/*            <div id="val-category" class="custom-select custom-select-category">*/}}

{{/*                <div>*/}}
{{/*                    <span class="label">Category</span>*/}}
{{/*                    <span class="value">Select category</span>*/}}
{{/*                </div>*/}}

{{/*                <span class="icon dropdown-icon"></span>*/}}

{{/*            </div>*/}}
{{/*            <div class="option">*/}}
{{/*                <ul class="custom-option">*/}}
{{/*                    <li>Classical</li>*/}}
{{/*                    <li>Jazz</li>*/}}
{{/*                </ul>*/}}
{{/*            </div>*/}}

{{/*        </div>*/}}


{{/*        <div class="select">*/}}
{{/*            <div id="val-category" class="custom-select custom-select-category">*/}}

{{/*                <div>*/}}
{{/*                    <span class="label">Artist</span>*/}}
{{/*                    <span class="value">Select artist</span>*/}}
{{/*                </div>*/}}

{{/*                <span class="icon"></span>*/}}

{{/*            </div>*/}}
{{/*            <div class="option">*/}}
{{/*                <ul class="custom-option">*/}}
{{/*                    <li>Krzysztof Penderecki</li>*/}}
{{/*                    <li>Don Cherry</li>*/}}
{{/*                </ul>*/}}
{{/*            </div>*/}}

{{/*        </div>*/}}

        {{end}}
    </form>





{{end}}


