{{ template "base" .}}

{{define "title"}}Home{{end}}

{{ define "main"}}

<h1>Records</h1>


<div class="select">
    <div id="val-category" class="custom-select custom-select-category">

        <div>
            <span class="label">Category</span>
            <span class="value">Select category</span>
        </div>

        <span class="icon"></span>

    </div>
    <div class="option">
        <ul class="custom-option">
            <li>Option 5</li>
            <li>Option 6</li>
            <li>Option 7</li>
            <li>Option 9</li>
        </ul>
    </div>

</div>

<div class="select">
    <div  class="custom-select custom-select-genre">

        <div>
            <span class="label">Genre</span>
            <span  class="value">Select Genre</span>
        </div>

        <span class="icon"></span>

    </div>
    <div class="option">
        <ul class="custom-option">
            <li>Option 1</li>
            <li>Option 2</li>
            <li>Option 3</li>
            <li>Option 4</li>
        </ul>
    </div>
</div>


<div class="select">
    <div  class="custom-select custom-select-genre">

        <div>
            <span class="label">Genre</span>
            <span  class="value">Select Genre2</span>
        </div>

        <span class="icon"></span>

    </div>
    <div class="option">
        <ul class="custom-option">
            <li>Option 1</li>
            <li>Option 2</li>
            <li>Option 3</li>
            <li>Option 4</li>
        </ul>
    </div>
</div>


{{end}}