{{ template "base" .}}

{{define "title"}}Home{{end}}

{{ define "main" }}

<h1>Records</h1>
{{if .Records}}
    {{range .Records}}
        <a href="/record/{{.RecordID}}">{{.Title}}</a>
    {{end}}
{{else}}
    <p>No records!</p>
{{end}}





{{end}}