{{ template "base" .}}


{{define "title"}}{{.Record.Title}}{{end}}

{{define "main"}}

    {{with .Record}}
        <p>{{.Title}}</p>
        <p>{{.Label}}</p>
        <p>{{.Year}}</p>
        <img src="{{.Cover}}" alt="">
    {{end}}



{{end}}
